export interface AppInfo {
  name: string;
  version: string;
  description: string;
}

export interface IPCMessage<T = unknown> {
  channel: string;
  data: T;
}

export interface WindowState {
  x: number;
  y: number;
  width: number;
  height: number;
  isMaximized: boolean;
  isMinimized: boolean;
  isFullscreen: boolean;
}
