import { defineConfig, externalizeDepsPlugin } from "electron-vite";
import react from "@vitejs/plugin-react";

export default defineConfig({
  main: {
    build: {
      outDir: "dist/main",
      rollupOptions: {
        external: ["electron"],
        plugins: [externalizeDepsPlugin({ explicit: ["electron"] })],
      },
    },
  },
  preload: {
    build: {
      outDir: "dist/preload",
      rollupOptions: {
        external: ["electron"],
        plugins: [externalizeDepsPlugin({ explicit: ["electron"] })],
      },
    },
  },
  renderer: {
    build: {
      outDir: "dist/renderer",
    },
    resolve: {
      alias: {
        "@": "/src",
      },
    },
    plugins: [react()],
  },
});
